<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<style>
    *{
        font-family: 'Montserrat', sans-serif;
    }
    .container{
        max-width: 50%;
        border: 2px solid #AAAAAA !important;
        border-radius: 15px;
        margin: 0 auto;
        border: 1px;
        padding: 30px;
    }
</style>

<title>Radio Server</title>
<div class="container">
<h1>Congratulations!</h1>
<h2>The current counter ({{ counter }}) is a multiple of 11!</h2>
<h3>You won the prize! The counter has now been reset.</h3>
<h3>Introduce your name to enter the hall of fame.</h3>

<form action="/add_winner" method="POST">
    <label for="winner_name">Name:</label>
    <input type="text" name="winner_name"></input>
    <input type="submit"></input>
</form>
</div>